<div class="container">
  <div class="header">
    <img
      src="../../assets/logo1.png"
      alt="Dräxlmaier Group Logo"
      class="logo"
    />
    <h1>About Dräxlmaier Group</h1>
  </div>
  <div class="content">
    <p>
      The Dräxlmaier Group stands as a distinguished leader in the automotive
      industry, renowned for its commitment to engineering innovation, premium
      craftsmanship, and cutting-edge technology. With a rich history spanning
      decades, Dräxlmaier has consistently driven the future of mobility by
      delivering exceptional automotive interior systems and solutions to some
      of the world's most esteemed vehicle manufacturers.
    </p>
    <p>
      Founded on a steadfast philosophy of precision and quality, Dräxlmaier has
      established itself as a global force in the design and production of
      automotive components, harnesses, and interiors. Drawing inspiration from
      its German roots, the company's unwavering pursuit of excellence is
      evident in its intricate attention to detail, ensuring that every
      component reflects the highest standards of functionality, aesthetics, and
      sustainability.
    </p>
    <p>
      The Dräxlmaier Group's unwavering commitment extends beyond exceptional
      craftsmanship; it embraces a forward-thinking approach to sustainability
      and innovation. By seamlessly integrating advanced technologies, smart
      systems, and eco-friendly practices, Dräxlmaier continues to redefine the
      future of automotive interiors, enhancing both driving experiences and
      environmental responsibility.
    </p>
    <p>
      As an industry pioneer, the Dräxlmaier Group's legacy is intertwined with
      its dedication to shaping the future of automotive mobility. Its
      exceptional contributions to the automotive landscape are a testament to
      its enduring pursuit of excellence, ensuring that every journey is not
      only driven by the road ahead but also by the vision of innovation and
      perfection.
    </p>
  </div>
</div>
