<button (click)="openAddProductModal()" class="add-button">Add Product</button>

<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Description</th>
    <th>Quantity</th>
    <th>Location</th>
    <th>Actions</th>
  </tr>
  <tr *ngFor="let product of displayedProducts">
    <td>{{ product.id }}</td>
    <td>{{ product.name }}</td>
    <td>{{ product.description }}</td>
    <td>{{ product.quantity }}</td>
    <td>{{ product.location }}</td>
    <td>
      <button>View</button>
      <button (click)="openEditModal(product)">Edit</button>
      <button>Delete</button>
    </td>
  </tr>
</table>

<!-- Modal -->
<div class="modal" [class.open]="isModalOpen">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Add Product</h4>
        <button type="button" class="close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="productName">Name</label>
            <input
              type="text"
              class="form-control"
              id="productName"
              [(ngModel)]="newProduct.name"
              name="productName"
            />
          </div>
          <div class="form-group">
            <label for="productDescription">Description</label>
            <textarea
              class="form-control"
              id="productDescription"
              [(ngModel)]="newProduct.description"
              name="productDescription"
            ></textarea>
          </div>
          <div class="form-group">
            <label for="productQuantity">Quantity</label>
            <input
              type="number"
              class="form-control"
              id="productQuantity"
              [(ngModel)]="newProduct.quantity"
              name="productQuantity"
            />
          </div>
          <div class="form-group">
            <label for="productLocation">Location</label>
            <input
              type="text"
              class="form-control"
              id="productLocation"
              [(ngModel)]="newProduct.location"
              name="productLocation"
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal()">
          Close
        </button>
        <button type="button" class="btn btn-primary" (click)="addProduct()">
          Save
        </button>
      </div>
    </div>
  </div>
</div>

<!-- EditModal -->
<div class="modal" [class.open]="isEditModalOpen">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Product</h5>
        <button type="button" class="close" (click)="closeEditModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="editProductName">Name</label>
            <input
              type="text"
              class="form-control"
              id="editProductName"
              [(ngModel)]="editedProduct.name"
              name="editProductName"
            />
          </div>

          <div class="form-group">
            <label for="editProductDescription">Description</label>
            <input
              type="text"
              class="form-control"
              id="editProductDescription"
              [(ngModel)]="editedProduct.description"
              name="editProductDescription"
            />
          </div>

          <div class="form-group">
            <label for="editProductQuantity">Quantity</label>
            <input
              type="text"
              class="form-control"
              id="editProductQuantity"
              [(ngModel)]="editedProduct.quantity"
              name="editProductQuantity"
            />
          </div>
          <div class="form-group">
            <label for="editProductLocation">Location</label>
            <input
              type="text"
              class="form-control"
              id="editProductLocation"
              [(ngModel)]="editedProduct.location"
              name="editProductLocation"
            />
          </div>
          <!-- Other input fields for editing -->
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          (click)="closeEditModal()"
        >
          Cancel
        </button>
        <button type="button" class="btn btn-primary" (click)="updateProduct()">
          Save Changes
        </button>
      </div>
    </div>
  </div>
</div>
